@model QMAN.qualification
    @{
    ViewBag.Title = "AddSubject";
}

<h2>Add Subject</h2>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        {
            if (Model.subject_qualification.Count > 0)
            {
                <div class="form-actions no-color">
                    <select>
                        @foreach (var subject_qual in Model.subject_qualification)
                        {
                        <option>@subject_qual.SubjectCode</option>

                        }
                    </select>
                    <input type="submit" value="Delete" class="btn btn-primary" /> 
                    @Html.ActionLink("Cancel", "Edit", new { id = Model.SubjectCode })
|
                </div>
            }

        }
    }

                    }
                </div>

