@model QMAN.qualification
    @{
    ViewBag.Title = "AddSubject";
}

<h2>Add Subject</h2>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        {
            if (Model.subject_qualification.Count > 0)
            {
                foreach (var subject_qual in Model.subject_qualification)
                {
                    <div class="form-actions no-color">
                        @Html.DropDownList("SubjectCode", "Select a Subject");
                    <input type="submit" value="Delete" class="btn btn-primary" /> |
                    @Html.ActionLink("Cancel", "Edit", new { id = Model.QualCode })
                    </div>
                }
            }
            
        }
    }

    }
</div>

