@model QMAN.Models.subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
